.navigation {

    &__checkbox {

    }

    &__button {

    }

    &__background {

        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        left: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
    }

    &__nav {

    }

    &__list {

    }

    &__link {

    }

    &__item {

    }
}